.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 2000px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.marquee-slow div {
  margin-left:50px; 
  animation: marquee 18s linear infinite;
}

.marquee-slower div {
  animation: marquee 20s linear infinite;
}

.marquee>div>span {
  float: left;
  width: 50%;
  color: #fff;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -1000px; }
}