/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

h1 {
    font-family: 'Libre Baskerville', serif;
    line-height: 3rem;
}

h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.9rem;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

p {
    font-family: 'Nunito', sans-serif;
    color: rgba(25, 25, 25, 0.8);
}

.main-text {
    font-size: 1.15rem; 
    line-height: 2rem;
}

.f-size-45 {
    font-size: 4.5rem !important;
}

.top-bar {
    height: 10px;
    width: 100%;
    background-image: linear-gradient(90deg, #FF0000 0%, #FF7100 73%);
}

h3.title {
    display: inline-block;
}

h3.title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid red; /* This creates the border. Replace black with whatever color you want. */
}

.badge-primary {
    color: #ff6565;
    background-color: #fff8f8;
    padding: 0.3rem;
}

.pill {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 0.8rem;
    border: solid 1px rgba(25, 25, 25, 0.8);
    color: rgba(25, 25, 25, 0.8);
    transition: background-color 0.5s;
}

.pill:hover {
    display: inline-block;
    border: solid 1px red;
    background-color: red;
    color: white;
    cursor: pointer;
}

.social-icons a {
    padding: 0px 10px;
    color: red;
    text-decoration: none;
}

.btn-red {
    color: #ff6565;
}

a,
a:active,
a:hover,
.btn-red:hover, 
.btn-red:active {
    color: red;
}

svg {
    position: relative;
    top: -0.1rem
}

.font-sm {
    font-size: 0.92rem;
    line-height: 1.6rem;
}

.border-top {
    border-top: 2px solid red;
}

